- Import Packages

In [1]:
import json
import jieba
import pandas

- Load Data

In [2]:
tf_dict = json.load(open('tf_dict.json','r'))
idf_dict = json.load(open('idf_dict.json','r'))
tfidf_dict = json.load(open('tfidf_dict.json','r'))
train_data = json.load(open('train_data.json','r'))
test_data = json.load(open('test_data.json','r'))

- Predict Training Data

In [3]:
for data in train_data:
    event_class_list = []
    scores = []
    data['description_cut'] = jieba.lcut(data['description'])    
    for event_class, keyword_tfidf_dict in tfidf_dict.items():
        score = 0
        for keyword in data['description_cut']:
            if keyword in tfidf_dict[event_class]:
                score += keyword_tfidf_dict[keyword]
        scores.append(score)
        event_class_list.append(event_class)
    
    data['predicted_class'] = event_class_list[scores.index(max(scores))]

Building prefix dict from the default dictionary ...
DEBUG:jieba:Building prefix dict from the default dictionary ...
Loading model from cache /var/folders/06/d31r6gfj2jq2frxfscrfl26w0000gn/T/jieba.cache
DEBUG:jieba:Loading model from cache /var/folders/06/d31r6gfj2jq2frxfscrfl26w0000gn/T/jieba.cache
Loading model cost 1.271 seconds.
DEBUG:jieba:Loading model cost 1.271 seconds.
Prefix dict has been built succesfully.
DEBUG:jieba:Prefix dict has been built succesfully.

- Predict Testing Data

In [4]:
for data in test_data:
    event_class_list = []
    scores = []
    data['description_cut'] = jieba.lcut(data['description'])    
    for event_class, keyword_tfidf_dict in tfidf_dict.items():
        score = 0
        for keyword in data['description_cut']:
            if keyword in tfidf_dict[event_class]:
                score += keyword_tfidf_dict[keyword]
        scores.append(score)
        event_class_list.append(event_class)
    
    data['predicted_class'] = event_class_list[scores.index(max(scores))]

- Training Error

In [5]:
count = 0
for data in train_data:
    if data['predicted_class'] != data['class']:
        count += 1
print(count/len(train_data))

0.3353816074296488

- Testing Error

In [6]:
count = 0
for data in test_data:
    if data['predicted_class'] != data['class']:
        count += 1
print(count/len(test_data))

0.45769338173694496

- Training Fusion Matrix

In [7]:
train_data_fusion_matrix = [[0 for i in range(13)] for i in range(13)]
event_class_list = []
for event_class in iter(tfidf_dict):
    event_class_list.append(event_class)
for data in train_data:
    train_data_fusion_matrix[event_class_list.index(data['predicted_class'])][event_class_list.index(data['class'])] += 1
train_data_fusion_matrix = pandas.DataFrame(train_data_fusion_matrix)
train_data_fusion_matrix.columns = event_class_list #actual_class
train_data_fusion_matrix.index = event_class_list #predicted_class
train_data_fusion_matrix

,other,technology,charity,health,fashion,travel,food,entertainment,education,business,photography,sports,arts
other,725,86,26,2,1,82,14,15,0,51,0,41,45
technology,183,1189,66,2,1,69,20,20,1,233,0,51,182
charity,43,9,503,11,0,14,2,1,0,35,2,3,68
health,33,15,26,502,1,8,14,4,0,15,0,26,64
fashion,63,23,9,7,226,10,11,9,0,38,1,1,110
travel,29,16,9,2,0,940,7,1,0,33,1,4,140
food,49,17,10,16,1,64,797,14,0,31,0,4,152
entertainment,34,24,5,2,1,17,8,406,0,17,0,9,113
education,77,90,18,2,0,21,1,6,36,229,0,1,90
business,152,158,108,32,4,114,14,16,1,2089,1,15,309
photography,37,29,13,2,1,36,5,6,0,33,323,11,179
sports,28,17,16,62,2,19,8,7,0,27,2,535,44
arts,13,7,5,1,3,7,2,0,0,23,0,2,1247

- Testing Fusion Matrix

In [8]:
test_data_fusion_matrix = [[0 for i in range(13)] for i in range(13)]
event_class_list = []
for event_class in iter(tfidf_dict):
    event_class_list.append(event_class)
for data in test_data:
    test_data_fusion_matrix[event_class_list.index(data['predicted_class'])][event_class_list.index(data['class'])] += 1
test_data_fusion_matrix = pandas.DataFrame(test_data_fusion_matrix)
test_data_fusion_matrix.columns = event_class_list #actual_class
test_data_fusion_matrix.index = event_class_list #predicted_class
test_data_fusion_matrix

,other,technology,charity,health,fashion,travel,food,entertainment,education,business,photography,sports,arts
other,117,17,8,3,5,22,6,8,0,21,1,11,19
technology,78,243,16,0,2,13,8,20,1,75,0,15,44
charity,25,5,102,0,0,11,1,1,1,5,1,2,25
health,10,4,11,94,2,4,3,2,0,6,1,10,18
fashion,17,3,1,3,26,7,4,5,0,19,6,3,34
travel,12,12,5,4,0,193,7,3,1,5,1,4,38
food,20,8,9,8,1,21,194,10,0,13,0,5,66
entertainment,14,6,6,0,1,5,5,62,1,4,1,2,48
education,12,27,9,2,2,11,1,2,0,60,3,1,27
business,55,42,21,18,5,28,7,5,1,481,3,8,62
photography,11,14,5,4,2,9,2,3,0,9,86,6,56
sports,7,6,2,20,3,7,5,2,0,5,0,109,22
arts,10,1,2,0,0,4,2,3,0,9,2,5,235